<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>version 3</title>
    <link rel="stylesheet" href="css/tres.css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  </head>

  <body>
   <section class="container">
    <section class="a">A</section>

    <section class="small-boxes">
      <section class="box-top">
       <section class="b">B</section>
       <section class="c">C</section>
       <section class="d">D</section>
      </section>

      <section class="box-bottom">
       <section class="e">E</section>
       <section class="f">F</section>
       <section class="g">G</section>
      </section>
    </section>

    <section class="h">H</section>
   </section>
  </body>
</html>
