*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  color: #FFFFFF;
  font-size: 100px;
  text-align: center;
}

/*
*desktop
*/
.container{
  margin: 0 auto;
  width: 1200px;
  overflow: hidden;
  padding: 10px 10px;
  width: 100%;
}

.a{
  background-color: #FFFF00;
  height: 200px;
  margin-bottom: 20px;
  width: 100%;
}

.b{
  background-color: #40E0D0;
  float: left;
  height: 750px;
  width: 65%;
}

.c{
 background-color: #EE82EE;
 float: right;
 height: 750px;
 width: 33%;
}

/*
*ipad
*/
@media all and (max-width: 768px) {
body{
  background-color: #000;
}

.a{
  height: 200px;
  width: 100%;
}

.b{
  height: 550px;
  margin-bottom: 20px;
  width: 100%;
}

.c{
  height: 200px;
  width: 100%;
 }
}

/*
*mobile
*/
@media all and (max-width: 375px) {
body{
  background-color: #000;
}

.a{
  width: 100%;
}

.b{
  height: 300px;
  margin-bottom: 20px;
  width: 100%;
}

.c{
  height: 100px;
  width: 100%;
 }
}
