*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  color: #FFFFFF;
  font-size: 100px;
  text-align: center;
}

.container{
  margin: 0 auto;
  max-width: 1000px;
  overflow: hidden;
  width: 100%;
}

.a{
  background-color: #FFFF00;
  height: 130px;
  margin-bottom: 20px;
  width: 100%;
}

.b{
  background-color: #40E0D0;
  float: left;
  height: 500px;
  width: 65%;
}

.c{
 background-color: 	#EE82EE;
 float: right;
 height: 500px;
 width: 32%;
}


@media all and (max-width: 800px) {
body{
  background-color: #000;
}

.a{
  width: 100%;
}

.b{
  margin-bottom: 20px;
  width: 100%;
}

.c{
  height: 100px;
  width: 100%;
 }
}
