 *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }

 body{
  color: #FFFFFF;
  font-size: 100px;
  text-align: center;
 }

/*
*desktop
*/
 .a{
  background-color: #FFFF00;
  height: 120px;
  margin-bottom: 10px;
  width: 100%;
 }

 .b{
  background-color: #40E0D0;
  float: left;
  height: 300px;
  margin-bottom: 10px;
  width: 77%;
 }

 .box-left{
  display: block;
  float: left;
  margin-bottom: 0 auto;
  width: 80%;
 }

 .box-little{
  margin-top: 10px;
  float: left;
  width: 100%;
 }

 .c{
  background-color: #1E90FF;
  float: left;
  height: 200px;
  width: 25%;
 }

 .container{
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
  padding: 10px 10px;
  width: 100%;
 }

 .d {
  background-color:	#8B008B;
  float: left;
  height: 200px;
  margin-left: 10px;
  width: 25%;
 }

 .e {
  background-color:	#FFD700;
  float: left;
  height: 200px;
  margin-left: 10px;
  width: 25%;
 }

 .f {
  background-color: #EE82EE;
  display: inline-block;
  float: right;
  height: 520px;
  margin-top: -520px;
  width: 37%;
 }

/*
*ipad
*/
@media all and (max-width: 768px) {

 body {
  background-color: #000;
 }

 .a {
  height: 150px;
  width: 100%;
 }

 .b {
  height: 450px;
  width: 100%
 }

 .box-left {
  width: 100%;
 }

 .box-little {
  width: 100%
 }

 .c {
  float: left;
  height: 200px;
  margin-left: 15px;
  width: 30%;
 }

 .d {
   height: 200px;
   margin-left: 15px;
   width: 30%;
 }

 .e {
   height: 200px;
   margin-left: 15px;
   width: 30%;
 }

 .f {
   height: 150px;
   margin-top: 20px;
   width: 100%;
 }
}

/*
*mobile
*/
@media all and (max-width: 414px){

 .b {
   height: 250px;
   width: 100%
 }

 .box-little {
   width: 100%
 }

 .c {
   float: left;
   height: 100px;
   margin-left: 25px;
   width: 25%;
 }

 .d {
   height: 100px;
   margin-left: 25px;
   width: 25%;
 }

 .e {
   height: 100px;
   margin-left: 25px;
   width: 25%;
 }
}
